@font-face {
  font-family: 'MyFont';
  src:  url('./ProximaNova-Light.otf');
  font-weight: 600;
  font-style: normal;
}
body{
  div{
    font-family: 'MyFont';
    color: red;
    font-size: 30px;
  }
}